*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #1d1d1d
}


/* App container (root) */
.app-container {
  max-width: 1024px;
  height: 100%;

  margin: 0 auto;
  padding: 20px;
}

  /* App header */
  .app-header {
    position: relative;
    padding: 20px 0 30px;
    border-bottom: 1px solid #ecf0f1;
    margin-bottom: 30px;
  }
    .app-header a {
      color: #bdc3c7;
    }
    .app-header a:hover {
      color: #acb2b6;
    }

    /* Header title */
    .app-header .header-title {
      display: inline-block;
      margin: 0 5px 0 0;
    }
      .header-title > a {
        text-decoration: none;
        color: inherit;
      }
      .header-title > a:hover {
        color: #000000;
      }

      .header-subtitle {
        display: inline;
        font-size: 16px;
        font-weight: 400;

        color: #bdc3c7;
      }
      .header-subtitle .fa-heart {
        color: #e74c3c;
      }

    /* Header links */
    .app-header .header-links {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
    }

  /* App body */
  .app-body {
    position: relative;
  }

    /* App viewspace */
    .app-body > .app-primary-viewspace {
      padding-right: 20px;
    }
    .app-body > .app-secondary-viewspace {
      padding-left: 20px;
    }

    /* App view */
    .app-body .app-view {}

    /* App adaptive view */
    .app-body .app-adaptive-view {}
      .app-body .app-adaptive-view .app-view-content {
        display: block;
      }
      .app-body .app-adaptive-view .app-view-fader {
        display: none;
      }

@media screen and (max-width: 48em) {
  /* Header title */
  .app-header .header-subtitle {
    display: block;
    margin-top: 10px;
  }

  /* App viewspace */
  .app-body > .app-primary-viewspace {
    padding-right: 0;
  }
  .app-body > .app-secondary-viewspace {
    padding-left: 0;
  }

  /* App adaptive view */
  .app-body .app-adaptive-view {}
    .app-body .app-adaptive-view .app-view-content {
      display: block;
      position: fixed;
      left: 0;
      background: white;
      width: calc(100% - 40px);
      top: 50%;
      max-height: 100%;
      z-index: 100500;
      margin: 0 20px;
      padding: 20px;
      transform: translateY(-50%);
      overflow-y: auto;
    }
    .app-body .app-adaptive-view .app-view-fader {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      background: black;
      opacity: .7;
    }
}